<section aria-labelledby="about-header">
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Personal Center</button>
            <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/password/change">Password Change</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>

    <h1 id="about-header" class="h1-content">About Us</h1>

    <div class="team-section">
        <h2>Team Members</h2>
        <ul>
            <li>Yuqi Dong</li>
            <li>Fan Zhang</li>
            <li>Xiong Chen</li>
            <li>Zhuo Zhang</li>
            <li>Chongyuan Zhang</li>
        </ul>
    </div>

    <div class="introduction-section">
        <h2>Introduction</h2>
        <p class="p-content">Navigating the complexities of university life, especially for international students, underscores the critical importance of finding suitable housing. Our initiative aims to address these issues by creating a specialized platform for reviewing apartments and houses around the university, designed with the unique needs of new international students in mind. This vital resource will provide in-depth insights and real-life experiences from peers, significantly easing the housing search process.</p>
    </div>

    <div class="motivation-section">
        <h2>Motivation</h2>
        <p class="p-content">Adapting to university life in a new country brings myriad challenges, with housing being one of the most pressing. For international students, arranging accommodation from abroad, often sight unseen, can be particularly stressful. Our platform dedicated to compiling housing reviews specific to the university area can greatly alleviate this stress, offering a means to discover housing through the shared experiences of fellow students. Such a resource not only fosters a sense of community and trust but also empowers students to make well-informed housing choices, thereby enriching their overall university experience.</p>
    </div>

</section>
