<section aria-labelledby="add-comment-header">
    <nav>
        <a href="/housing/{{housingId}}">Back to Housing</a>
        <a href="/review/{{reviewId}}">Back to Review</a>
    </nav>
    <h1 id="add-comment-header">Add a Comment to the Review</h1>
    <p>Add your comment to the review below.</p>


    <form action="/comments/add/{{reviewId}}" method="post" class="add-comment-form">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" required placeholder="Type your comment here..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post Comment</button>
    </form>
</section>
