<section aria-labelledby="error-header">
    <h1 id="error-header">Oops! Something Went Wrong</h1>
    <img src="/public/images/error-icon.png" alt="Error Icon" class="error-icon">
    <p>We're sorry for the inconvenience. There seems to be an issue with the page you are trying to reach.</p>

    <h2>Possible Reasons:</h2>
    <ul>
        <li>The page does not exist or has been moved.</li>
        <li>There was an error processing your request.</li>
        <li>You do not have the necessary permissions to view this page.</li>
    </ul>

    <p>Please check the URL and try again, or <a href="/">return to the homepage</a> and start over.</p>

    <div class="error-actions">
        <a href="/" class="btn btn-primary">Go to Homepage</a>
        <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
    </div>
</section>
