<section aria-labelledby="error-header">
    <h1 id="error-header" class="h1-content">Oops! Something Went Wrong</h1>
    <img src="/public/error-icon.png" alt="Error Icon" class="error-icon">
    <p class="p-content">We're sorry for the inconvenience. Here's what went wrong:</p>

    <p class="error-message">{{error}}</p>

    <div class="error-actions">
        <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
    </div>
</section>
